<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<title>Connexion</title>
<br>
  <div id="connexion-div">
    <h1>Connexion</h1>
    <div class="form-container">
      <form action="/connexion-back" method="post">
        <div class="field">
          <input class="input-form" type="text" name="username" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-label">Pseudo</label>
        </div>
        <div class="field">
          <input class="input-form" type="password" name="mdp" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="input-label">Mot de passe</label>
        </div>
        <input type="submit" value="Se connecter" name="connect" class="button" style="vertical-align:middle"></button>
      </form>
      <div id=location> </div>
    </div>
    <script>
    function accepted(position){
      console.log("mdr");
      locate(position.coords.latitude, position.coords.longitude)
    }

    function error(){
      console.log("lol");
      locate(<%=values.latitude %>, <%=values.longitude%>)
    }

    function locate(lat, lng){
      var latLng = new google.maps.LatLng(lat, lng);
      new google.maps.Geocoder().geocode({"latLng": latLng}, function(results, status) {
        document.querySelector("#location").innerHTML = results[0].address_components["3"].long_name + " (" + results[0].address_components["6"].long_name + ")";
        console.log(results[0]);
      });
    }
    if(navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(accepted, error);
    }
    </script>
      <div id="infoposition"></div>
    </body>
    </html>
