<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<title>Lol</title>
<div id='body'>
<div class="ui yellow center aligned segment">
  <h4 class="ui header">Modification Profil </h4>
  <div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>Pseudo</label>
      <input type="text" placeholder="ex : Darklaink, damiLeBoss..">
    </div>
    <div class="field">
      <label>Prenom</label>
      <input type="text" placeholder="ex : Thomas, Henry, Damien..">
    </div>
    <div class="field">
      <label>Nom</label>
      <input type="text" placeholder="ex : Dupont, Miette ..">
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <input name="password" type="password">
  </div>
  <div class="ui form">
  <div class="field">
    <select>
      <option value="">Genre</option>
      <option value="2">Homme</option>
      <option value="1">Femme</option>
      <option value="0">Autre Genre</option>
    </select>
  </div>
  <div class="ui form success">
  <div class="field">
    <label>E-mail</label>
    <input type="email" placeholder="ex : Jeveu1wankul@gmail.fdp">
  </div>
  <div class="ui center form">
    <div class="inline fields">
    <label>Quels genres recherches tu ? :) </label>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency" checked="checked">
        <label><i class="man icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="woman icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="other gender icon"></i></label>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <label>Tes Hashtag</label>
  <input type="text" placeholder="ex : #jssuLink, #LeBoss..">
</div>
  <div>
    <div class="field">
    <label>Ta bio</label>
    <textarea></textarea>
  </div>
    <input type=date>
    <div class="five fields">
      <div class="field">
    <label for="file" class="ui icon button">
        <i class="file icon"></i>
        Open File</label>
    <input type="file" id="file" style="display:none">
</div>
<div class="field">
<label for="file" class="ui icon button">
  <i class="file icon"></i>
  Open File</label>
<input type="file" id="file" style="display:none">
</div>

<div class="field">
<label for="file" class="ui icon button">
  <i class="file icon"></i>
  Open File</label>
<input type="file" id="file" style="display:none">
</div>
<div class="field">
<label for="file" class="ui icon button">
  <i class="file icon"></i>
  Open File</label>
<input type="file" id="file" style="display:none">
</div>
<div class="field">
<label for="file" class="ui icon button">
  <i class="file icon"></i>
  Open File</label>
<input type="file" id="file" style="display:none">
</div>
</div>
<br>
  <div class="ui submit button">Submit</div>
</div>
</div>
</div>
</div>
