<%= error %>
<%if (error == 1) {%>  Pseudo trop court  <%}%>
<%if (error == 2) {%>  Pseudo trop long  <%}%>
<%if (error == 3) {%>  Pseudo déja utilisé  <%}%>
<%if (error == 4) {%>  Mot de passe trop court  <%}%>
<%if (error == 5) {%>  Mot de passe trop long  <%}%>
<%if (error == 6) {%>  Mot de passe trop simple  <%}%>
<%if (error == 7) {%>  Email mal formaté  <%}%>
<%if (error == 8) {%>  Email déja utilisé  <%}%>
<%if (error == 9) {%>  Prenom trop long  <%}%>
<%if (error == 10) {%>  Nom trop long  <%}%>
<%if (error == 11) {%>  Toutes les données n'ont pas été renseignées  <%}%>
<div class="ui red message">Une erreur c est produite</div>
