<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<title>Lol</title>
<div id='body'>
<% include parts/left_part.ejs %>
<div id="center-content" class="content">
  <div class="suggestion">
  <table class="sugg">
  <tr>
    <th class="sugg-cell" colspan="4" rowspan="4">
      <img class="sugg-img" src=img/loutre03.jpg>
    </th>
    <th class="sugg-cell" colspan="7">Username</th>
    <th class="sugg-cell" colspan="2" rowspan="2">Accepter</th>
  </tr>
  <tr>
    <td class="sugg-cell" colspan="7" rowspan="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis diam id quam fringilla dignissim sit amet sit amet sapien. Nullam in sem in erat viverra accumsan et et dolor. Maecenas pulvinar erat convallis eros congue consequat. Cras turpis metus, commodo vitae venenatis a, auctor id mauris. Donec quis mauris.</td>
  </tr>
  <tr>
    <td class="sugg-cell" colspan="2" rowspan="2">Refuser</td>
  </tr>
  <tr>
    <td class="sugg-cell" colspan="7">#otaku #choucroute #emo #swag #dread #nofilter #chocolatine</td>
  </tr>
</table>
</div>
<div class="suggestion">
<table class="sugg">
<tr>
  <th class="sugg-cell" colspan="4" rowspan="4">
    <img class="sugg-img" src=img/loutre03.jpg>
  </th>
  <th class="sugg-cell" colspan="7">Username</th>
  <th class="sugg-cell" colspan="2" rowspan="2">Accepter</th>
</tr>
<tr>
  <td class="sugg-cell" colspan="7" rowspan="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis diam id quam fringilla dignissim sit amet sit amet sapien. Nullam in sem in erat viverra accumsan et et dolor. Maecenas pulvinar erat convallis eros congue consequat. Cras turpis metus, commodo vitae venenatis a, auctor id mauris. Donec quis mauris.</td>
</tr>
<tr>
  <td class="sugg-cell" colspan="2" rowspan="2">Refuser</td>
</tr>
<tr>
  <td class="sugg-cell" colspan="7">#otaku #choucroute #emo #swag #dread #nofilter #chocolatine</td>
</tr>
</table>
</div>
</div>
<br>
</div>
