<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<title>Lol</title>
<div id='body'>
  <div class="ui yellow segment">
    <h4 class="ui header">Des suggestions pour toi mon pote</h4>
  </div>
  </div>
  <div class="ui stackable four column grid">
  <div class="ui yellow segment">
  <div class="ui stackable four column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="/wankuls/zpim678X.png">
        </div>
        <div class="content">
          <a class="header">Daniel Louise</a>
            <p>Age : </p>
          <button class="ui inverted blue button">Profil</button>
          <button class="ui inverted pink button">Match moi bb</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="/wankuls/zpim678X.png">
        </div>
        <div class="content">
          <a class="header">Helen Troy</a>
            <p>Age : </p>
          <button class="ui inverted blue button">Profil</button>
          <button class="ui inverted pink button">Match moi bb</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="/wankuls/zpim678X.png">
        </div>
        <div class="content">
          <a class="header">Helen Troy</a>
            <p>Age : </p>
          <button class="ui inverted blue button">Profil</button>
          <button class="ui inverted pink button">Match moi bb</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="/wankuls/zpim678X.png">
        </div>
        <div class="content">
          <a class="header">Elliot Fu</a>
            <p>Age : </p>
          <button class="ui inverted blue button">Profil</button>
           <button class="ui inverted pink button">Match moi bb</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
