<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<div class="ui yellow center aligned segment" id="connexion-div">
  <div class="header">Recherche ton duo</div>
  <div class="center aligned">
  <div class="ui fields form">
    <br><br><label>Quel(s) genre(s) recherches tu ? :) </label><br>
    <div class="inline fields middle" style="width:175px; margin:auto">
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency" checked="checked">
        <label><i class="man icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="woman icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="other gender icon"></i></label>
    </div>
  </div>
</div>
les # que tu recherches
<div class="ui search">
  <input class="prompt center" type="text" placeholder="#jsussl1k #lainkapeté">
  <div class="results"></div>
</div>
Oussa
<div class="ui search inline wide field">
  <input class="prompt center" type="text" placeholder="Nombre de Km max">
  <div class="results"></div>
</div>
Quel popularité sur le site ?
<div class="ui search inline wide field">
  <input class="prompt center" type="text" placeholder="point pop min">
  <div class="results"></div>
</div>
Quel ages ?
<div class="fields center" style="width:300px;margin:auto">
<div class="field">
  <input class="prompt center" type="text" placeholder="15 a nn c tro jeun">
  <div class="results"></div>
</div>
<div class="field">
  <input class="prompt center" type="text" placeholder="99 j m lé vieu">
  <div class="results"></div>
</div>
</div>
</div>
</div>
</div>
<div class="ui yellow center aligned segment" id="connexion-div">
  <div class="ui form">
    <div class="inline fields">
      <label>Que veux tu garder/activer</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="checkbox" name="fruit">
          <label>Sexe</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="checkbox" name="fruit">
          <label>les #</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="checkbox" name="fruit">
          <label>localisation</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="checkbox" name="fruit">
          <label>popularité</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="checkbox" name="fruit">
          <label>l'age</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui yellow segment" id="connexion-div">
  <div class="ui stackable two column grid">
  <div class="ui centered card">
  <div class="image">
    <img src="/wankuls/zpim678X.png">
  </div>
  <div class="content">
    <a class="header">Nom (age)</a>
    <div class="meta">
      <span class="date">statue</span>
    </div>
    <div class="description">
      LA BIOGRAPHIE
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="empty star icon"></i>
      popularité
    </a>
  </div>
</div>
<div class="ui centered card">
  <div class="image">
    <img src="/wankuls/zpim678X.png">
  </div>
  <div class="content">
    <a class="header">Nom (age)</a>
    <div class="meta">
      <span class="date">statue</span>
    </div>
    <div class="description">
      LA BIOGRAPHIE
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="empty star icon"></i>
      popularité
    </a>
  </div>
</div>
<div class="ui centered card">
  <div class="image">
    <img src="/wankuls/zpim678X.png">
  </div>
  <div class="content">
    <a class="header">Nom (age)</a>
    <div class="meta">
      <span class="date">statue</span>
    </div>
    <div class="description">
        LA BIOGRAPHIE
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="empty star icon"></i>
      popularité
    </a>
  </div>
</div>
</div>
</div>
</div>
