<link href="/css/style.css" rel="stylesheet" type="text/css">
<% include parts/header.ejs %>
<div class="ui yellow center aligned segment">
  <div class="header">Recherche ton duo</div>
  <div class="center aligned">
  <div class="ui center form">
    <div class="inline fields">
    <label>Quels genres recherches tu ? :) </label>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency" checked="checked">
        <label><i class="man icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="woman icon"></i></label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
        <input type="checkbox" name="frequency">
        <label><i class="other gender icon"></i></label>
      </div>
    </div>
  </div>
</div>
les # que tu recherches
<div class="ui search">
  <input class="prompt" type="text" placeholder="#jsussl1k">
  <div class="results"></div>
</div>
iel est ou ?
<div class="ui search">
  <input class="prompt" type="text" placeholder="Nombre de Km max">
  <div class="results"></div>
</div>
Quel popularité sur le site ?
<div class="ui search">
  <input class="prompt" type="text" placeholder="point pop max">
  <div class="results"></div>
</div>
Quel ages ?
<div class="ui search">
  <input class="prompt" type="text" placeholder="15 a nn c tro jeun">
  <div class="results"></div>
</div>
<div class="ui search">
  <input class="prompt" type="text" placeholder="99 j m lé vieu">
  <div class="results"></div>
</div>
</div>
